.main{
    width:100%;
    height:800px;
    margin:5px 0px;
}
.inner{
    width:70%;
    height:680px;
    margin:20px 20px 2px;
    border-right:1px solid gray;
}
.work{
    width:12%;
    height:40px;
    color:white;
    background-color: rgb(1,83,161);
    margin:0px 120px;
    font-size: 30px;
    font-weight: bold;
    padding:5px
}
.img1{
    width:100%;
    height:350px;
    position: relative;
}
.uper{
    width:60%;
    height:350px;
    margin:40px
}
.onimg{
    width:20%;
    height:200px;
    margin:-300px 550px;
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 15px;
}
.bottom{
    width:95%;
    height:310px;
    margin:-30px 30px;
    display:flex;
    
}
.boxes{
    width:32%;
    height:290px;
    margin:10px 5px;
}
.boximg{
    width:100%;
    height:200px;

}