.outerList{
    margin:30px 0;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.list{
    cursor: pointer;
    width: 47%;
    font-size: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.671);
    font-weight: 600;
    margin: 10px;
    font-family: Helvetica,Arial,freesans,sans-serif;
}

.list:hover{
    color: rgb(9, 82, 179);
    text-decoration: none;
}
.span{
    color: #BB1919;
    font-size: 2.77rem;
    margin-right: 25px;
    width: 30px;
    font-family: Helvetica,Arial,freesans,sans-serif;
    font-weight: 400;
}

.span:hover{
    text-decoration: none;

}