* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.commonCard__div {
    margin: 60px;
    margin-top: 0px;
    min-height: 500px;
    height: fit-content;
}

.box__div {
    display: flex;
    justify-content: space-between;
}

.category__name {
    color: #444a4b;
    font-size: 28px;
    border-left: 4px solid red;
    text-align: left;
    padding: 0px 10px;
    font-weight: bold;
    margin: 20px 0px;
    line-height: 23px;
}

.commonCardBox__div {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.commonCardBox__content__div {
    height: 390px;
}

.news__poster {
    width: 100%;
    height: 260px;
    cursor: pointer;
    filter: brightness(0.9);
}

.news__poster:hover {
    filter: brightness(1);
}

.common__box__headline {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
    color: rgb(37, 37, 37);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.common__box__headline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.common__image__tag {
    font-size: 18px;
    margin: 5px 0px;
    text-align: left;
    color: #444a4b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.common__category {
    border-left: 2px solid red;
    text-align: left;
    margin: 15px 0px;
    padding: 0px 10px;
    color: rgb(65, 65, 65);
    margin-bottom: 0px;
}

.smallCardBox__div {
    width: 22%;
    margin-bottom: 20px;
}

.small__news__poster {
    width: 100%;
    height: 180px;
    filter: brightness(0.9);
}

.small__news__poster:hover {
    filter: brightness(1);
    cursor: pointer;
}

.smallCardBox__content__div {
    height: 340px;
}

.editor__card__div {
    background-color: #f0f0f0;
    padding: 5px 0px;
}
.editor__mainbox__div {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border: 1px solid red;
}

.editor_box__div {
    width: 30%;
    margin-bottom: 30px;
    margin-right: 25px;
}

.editor_box__div:hover{
    filter: brightness(1.2);
}

.latest__news {
    width: 30px;
    height: 200px;
}

.display__flex {
    display: flex;
    background-color: turquoise;
}


.editor__div {
    width: 100%;
    background-color: #ebebeb;
    height: fit-content;
    padding-top: 10px;
}

.editor__name {
    color: #444a4b;
    font-size: 28px;
    border-left: 4px solid red;
    text-align: left;
    padding: 0px 10px;
    font-weight: bold;
    margin: 20px 0px;
    line-height: 23px;
    margin: 20px 50px;
}

.editor__bottom_section {
    width: 100%;
    display: flex;
    height: fit-content;
}

.editor__right, .author__box {
    width: 27%;
}

.editor__left {
    width: 66%;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    margin-left: 50px;
}

.test{
    width: 100%;
    height: 200px;
}

.big__box__div {
    position: relative;
    width: 95%;
}

.big__box__div:hover {
    filter: brightness(1.1);
}
.big__box__img {
    width: 100%;
    height: 90%;
    margin: 0px;
    filter: brightness(0.7);
}

.big__box__title {
    position: absolute;
    bottom: 20%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    position: absolute;
}

.big__box__description {
    color: white;
    position: absolute;
    bottom: 10%;
    padding: 0px 10px;
    margin: 20px;
    border-left: 3px solid red;
}

.bbc__header {
    color: white;
    background-color: red;
    font-size: 23px;
    text-align: left;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    width: 95%;
}

.latest__news {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #2f3640;
    border: 1px solid #646464;
}

.author__box {
    margin-left: 50px;
}
.latest__news:hover {
    filter: brightness(0.8);
}

.latest__num {
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.latest__News__para {
    text-align: left;
    display: flex;
    padding: 15px ;
    color: white;
    font-size: 20px;
}

.latest__News__para:hover {
    cursor: pointer;
}

.author__div {
    display: flex;
    background-color: #2f3640;
    border: 1px solid #646464;
    
}

.author__img {
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

.author__info {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
}

.author__name {
    text-align: left;
    color: rgb(201, 201, 201);
    font-size: 13px;
}

.author__article {
    font-size: 18px;
    color: rgb(201, 201, 201);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.author__article:hover {
    cursor: pointer;
}

.author__div:hover {
    filter: brightness(0.8);
}

.author__article:hover {
    color: rgb(255, 255, 255);
    filter: brightness(1);
}