.main{
    width:100%;
    height:400px;
    position:relative
}
.top{
    display:flex;
    text-align: left;
    width:85%;
    margin:-400px auto;
    justify-content: space-between;
    z-index:3
}
.main>img:hover{
    filter:none
}
.visit{
    z-index: 1;
    width:10%;
    border:2px solid white;
    height:30px;
    text-align: center;;
    border-radius: 20px;
    margin:16px;
    color:white;
    display:flex
}

.para{
    margin:6px 12px
}
.visit:hover{
    background-color: black;
}
.cards{
    width:85%;
    height:300px;
    position: absolute;
    top:0;
    left:0;
    margin:100px 100px;
    display:flex;
    justify-content: space-between;
}
.single{
    width:30%;
    height:280px
}
.imgtags{
    margin:-6px 0px;
    height:60px;
    background-color: white;
}
.para1{
    text-align: left;
    font-weight: bold;
    margin:3px 0px
}
.single>img:hover{
    filter:brightness(120%)
}