.singleDescription__page{
    display: flex;
    flex-direction: row;

}
.singleDescription__page>div:nth-child(1){
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.151);
    min-height: 500px;
    text-align: left;
}
.singleDescription__page>div:nth-child(2){
    width: 45%;
    border: 1px solid black;
    min-height: 500px;
}
.singleDescription__page>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10%;
}
.singleDescription__page>div:nth-child(1)>img{
    width: 10%;
    height: 500px;

    
}
/* .singleDescription__page>div:nth-child(1)>h1{
    color: rgba(0, 0, 0, 0.89);
    font-size: 50px;
    font-weight: 600;
    line-height: 48px;
} */
.singleDescription__page>div:nth-child(1)>p{
    color: rgba(0, 0, 0, 0.582);
    font-size:13px;
}
.singleItem__desc{
    width:70%;
    text-size-adjust: none;
color: rgb(63, 63, 66);
overflow-wrap: break-word;
margin: 0px;
padding: 0px;
border: 0px;
font: inherit;
vertical-align: baseline;
}
.singleItem__desc>div{
   margin-top: 20px;
   letter-spacing: 0.5px;
}
.single__icon{ 
    /* position:relative;
    top: 500%; */
    /* width: 5px; */
    color: rgba(0, 0, 0, 0.411);
  
}
.singleDescription__page>div:nth-child(1)>h4{
    color: rgba(0, 0, 0, 0.671);
    font-size: 18px;
    font-weight:700;
}
.singleItem__desc{
    font-size:15px;
   
}
.single__list{
 font-size: 18px;
 color: rgba(0, 0, 0, 0.589);
 font-weight: 700;
 line-height:40px;
 
}
.icon__text{
    font-size:14px;
    position: relative;
    top: -3px;
    color: rgba(0, 0, 0, 0.507);
}

.single__img{
    width: 100%;
    height: 500px;
}
.single__head1{
    font-size:45px;
    font-weight: 600;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.678);
}
.single__head4{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.603);
  font-weight: 700;
 
}
  /* RIGHT PART OF PAGE */

.singleDesc__right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .singleDesc__right__sec1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 200px;
  
  }
  .singleDesc__right__sec1>div:nth-child(1){
      border-bottom: 2.5px solid #b80000;
      width: 70%;
  }
  .single__topStories{
      text-decoration: none;
  }