

.topHeadlines_wrapper{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin: 30px 0;
}


.para{
    overflow: hidden;
    text-align: left;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.726);
    font-weight:700;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.para:hover{
    color: grey;
}
.news__card_linkwrap_link{
    border-left: 1px solid grey;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.815);
    margin:0 8px;
    padding-left: 8px;
}

.news__card_linkwrap_link:hover{
    color: rgb(9, 82, 179);
    text-decoration:underline;
}

.headings{
    width: 19%;
    cursor: pointer;
}