.main{
    width:100%;
    height:500px;
    /* border:1px solid black; */
    display:flex;
    margin:2px auto;
    background-color: rgb(238, 238, 238);
}
.innerbox{
    width:48%;
    height:550px;
    /* border:1px solid black; */
    margin:10px 12px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color:rgb(75, 75, 75)

}
.imgdiv{
    /* border:1px solid red; */
    width:100%;
    height:356px
}
.imgdiv1{
    /* border:1px solid red; */
    width:100%;
    height:356px;
    margin:85px 0px
}